button {
  &.btn {
    width: 100%;
    border: none;
    margin: 20px 0;
    outline: none;
    padding: 6px 6px;

    &.btn-basic {
      background: none;
      border: 1px solid gray;
    }

    &.btn-primary {
      background-color: #65BADE;

      &:hover {
        background-color: #ADD8E6;
      }
    }

    &.btn-success {
      background-color: #7BE87F;

      &:hover {
        background-color: #A9E8A9;
      }
    }
  }
}
