input {
  &.form-control {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
  }

  &:focus {
    border-bottom: 3px solid lightblue;
  }
}

select {
  &.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
